<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Simple Blog Page</title>
  <link rel="stylesheet" href="/styles.css">
</head>
<body>

  <header class="header">
    <nav class="navbar">
      <div class="nav-logo">
        <a href="/">Mini Blog</a>
      </div>

      <div class="nav-links">
        <a href="/" class="<%= currentRoute === '/' ? 'active' : '' %>">
          Home
        </a>

        <a href="/posts" class="<%= currentRoute === '/posts' ? 'active' : '' %>">
          All Posts
        </a>
      </div>
    </nav>
  </header>

  <main class="main-content">
    <%- body %>
  </main>

  <footer class="footer">
    <p>© 2026 Cohort 5 Backend Mini Project</p>
  </footer>

</body>
</html>