<style>
*{
    background-color: rgb(179, 178, 178);
  }
h1{
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size:2em;
  color: blue;
  text-align: center;
  margin-top: 50px;
 /* border-bottom:2px solid black; */
  transition: font-size 0.2s ease-in;
  text-shadow: 1px 1px 0px 0px rebeccapurple;
}

h1:hover{
   font-size:2.5em;
   color:red;
   border-bottom:0px solid black;
}

ul{
padding:30px;
display: inline;
  text-align: center;
  margin-left: 500px;
}

ul li{
  font-size:1.5em;
  display: inline;
    list-style: none;
    margin-left:100px;
    
}
a{
  text-decoration: none;
  padding:10px;
  display: inline;
  margin: 10px 50px 30px 30px;
  line-height:10px;
  text-align: center;
  color:blue;
  background-color: white;
  border-radius: 10px;
  transform: font-size 0.2s ease;
}

a:hover{
  color:green;
}

header{
    font-size: 2em;
    border: 2px solid black;
    margin-top: 20px;
}

footer{
    margin-top:500%;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border-top:solid;
    border-width: 2px;
}

 </style> 
<header>
<h1>BACKEND PROJECT - C5 </h1>
</header>






<footer>
&copy; COPYRIGHT 2026.
</footer>
